<nav-bar></nav-bar>

<div class="container">
  <div class="page-header text-center">
    <h1>{{movie.Title}}</h1>
  </div>

  <div class="row">
      <div class="col-xs-4">
        <img class="img-thumbnail" ng-src="{{movie.Poster}}" alt={{movie.Title}} />
      </div>
      <div class="col-xs-8">
        <dl class="dl-horizontal">
          <dt>Director</dt>
          <dd>{{movie.Director}}</dd>

          <dt>Genre</dt>
          <dd>{{movie.Genre}}</dd>

          <dt>Rated</dt>
          <dd>{{movie.Rated}}</dd>

          <dt>Release Date</dt>
          <dd>{{movie.Released}}</dd>

          <dt>Notable Actors</dt>
          <dd>{{movie.Actors}}</dd>

          <dt>Writers</dt>
          <dd>{{movie.Writer}}</dd>

          <dt>Length</dt>
          <dd>{{movie.Runtime}}</dd>

          <dt>IMDb Rating</dt>
          <dd>{{movie.imdbRating}}, with {{movie.imdbVotes}} votes</dd>

          <dt>Rotten Tomatoes Rating</dt>
          <dd>{{movie.tomatoMeter}}</dd>

          <dt>Number of RT Reviews</dt>
          <dd>{{movie.tomatoReviews}}</dd>
        </dl>
      </div>
  </div>
  <div class="row text-center" style="margin-top:10px">
    <p class="lead">{{movie.Awards}}</p>
    <p>{{movie.Plot}}</p>
  </div>
  <br>
  <div class="row text-center" style="margin-top:10px">
    <h4>Rotten Tomatoes Consensus</h4>
    <p>{{movie.tomatoConsensus}}</p>
  </div>
</div>
