<nav class="navbar-inverse" role="search">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <i class="fa fa-rebel"></i>
      </a>
    </div>
    <form class="navbar-form">
      <div class="form-group">
        <input type="text" ng-model="query" class="form-control" placeholder="Search">
      </div>
      <button ng-click="search()" class="btn btn-default navbar-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</nav>
