<nav class="navbar navbar-inverse" role="search">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <i class="fa fa-rebel"></i>
      </a>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <input type="text" ng-model="query" class="form-control" placeholder="Search">
      <button ng-click="search()" class="btn btn-default navbar-btn">
        <i class="fa fa-search"></i>
      </button>
      <label>
        <input type="checkbox" ng-model='rottenTomatoes'> Rotten Tomatoes?
      </label>
    </form>
  </div>
</nav>
