<div class="jumbotron text-center">
  <h1>{{heading}}</h1>
  <p>{{description}}</p>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">Examples</h2>
      <table class="table table-responsive table-hover table-condensed">
        <thead>
          <tr>
            <th class="text-center">Sign</th>
            <th class="text-center">Operation</th>
            <th class="text-center">URL Example</th>
            <th class="text-center">Answer</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="example in examples" class="text-center">
            <td><strong><samp>{{example.sign}}</samp></strong></td>
            <td>{{example.title}}</td>
            <td><code>{{example.url}}</code></td>
            <td><samp>{{example.ans}}</samp></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
