<div class="container">
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href="https://github.com/benhassara"><i class="fa fa-github fa-2x"></i></a></li>
          <li><a href="linktorepo"><i class="fa fa-code-fork"></i> source</a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>Built with <a href="https://angularjs.org/">AngularJS</a></p>
      </div>
    </div>
  </div>
</footer>
