<div class="container">
  <div class="row well well-sm">
    <div class="col-xs-12">
      <search-bar></search-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tea</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-xs-2">
              img goes here
            </td>
            <td>
              <div class="col-xs-7">
                <h3 class="item-heading"><strong>Bayard stew</strong></h3>
                <dl class="dl-horizontal">
                  <dt>Price</dt>
                  <dd>$15.40</dd>

                  <dt>Caffeine Scale</dt>
                  <dd>244</dd>

                  <dt>Ingredients</dt>
                  <dd>concentrated gluten, jewelry, dill, beetle nut, toast</dd>

                  <dt>Rating</dt>
                  <dd>1</dd>

                  <dt>In Stock?</dt>
                  <dd>Yes</dd>

                  <dt>Categories</dt>
                  <dd>dark, cold</dd>
                </dl>
              </div>
              <div class="col-xs-3 pull-right">
                <div class="row">
                  <div class="input-group">
                    <span class="input-group-addon">Quantity: </span>
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="row cart-btn">
                  <div class="btn btn-success btn-block">
                    <i class="fa fa-cart-plus fa-2x"></i>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
