<div class="row">
  <h1 class="text-center">Biography</h1>
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <blockquote class="blockquote-reverse">
      <p class="lead">{{quote}}</p>
      <footer>Thor</footer>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <p class="bio-text">
      {{intro}}
    </p>

    <h3 class="text-center">Early Life</h3>
    <p ng-repeat="paragraph in earlyLife" class="bio-text">{{paragraph}}</p>
  </div>
</div>
