.css-form input.ng-invalid.ng-touched {
  background-color: #F57A00;
}

.css-form input.ng-valid.ng-touched {
  background-color: #22B24C;
}

.img-post {
  max-height: 100px;
}

.list-group {
  margin-top: 10px;
}

.list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment-reply {
  margin-top: 5px;
}

.votes-pos {
  color: #22B24C;
}

.votes-neg {
  color: #EB6864;
}
