<div class="col-xs-4">
  <div class="form-group">
    <label for="#categories">Search by Category: </label>
    <select id="categories" class="form-control">
      <option>option1</option>
      <option>option2</option>
      <option>option3</option>
    </select>
  </div>
</div>
<div class="col-xs-4">
  <div class="form-group">
    <label for="#nameSearch">Search by Name: </label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="col-xs-4">
  <a href="#/cart" class="btn btn-info btn-sm btn-block cart-btn">
    <p class="h4"><span class="label">0</span> <i class="fa fa-shopping-cart"></i></p>
  </a>
</div>
