<footer class="navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/benhassara">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/benhassara/angular-curriculum/tree/master/unit_2/08-shopping-cart-app">
              <i class="fa fa-code-fork"></i> source
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>Built with <a href="https://angularjs.org/">AngularJS</a></p>
      </div>
    </div>
  </div>
</footer>
