body { padding-bottom: 70px; }

footer {
  background: #363636;
  color: #BFBFBB;
  padding: 10px;
}

footer ul { margin-top: 5px; }

footer p { margin-top: 20px; }

#cart-btn { margin-top: 10px; }

.fa-shopping-cart { padding: .2em .6em .3em; }
